/***** common *****/
.wrap { 
}
.inner {
    position: relative;
    width: 1000px;
    margin:0 auto;
    height: 100%;
}

.inner:after{
    content:'';
    display: block;
    clear:both;
}

/* 접근성을위한 ir기법 (= 리더기가 읽을수있는 텍스트를 가려주는것) */
.txt_hide {
    width: 1px;
    height:1px;
    overflow:hidden;
    display: block;
    position: absolute;
    z-index: -1;
}

/***** header *****/
.header{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    height:80px;
    background: #f89828;
    z-index: 10;
}
.header .inner{
    width:1200px;
}

/* 로고 */
.header .logo a{
    display: block;
    position: absolute;
    width:216px;
    height:28px;
    background: url(../img/common/img_logo.png) no-repeat center center;
    background-size: auto 100%;
    left:50%;
    top:50%;
    margin:-14px 0 0 -108px;
}

/* 네비열기버튼 */
.header .navi_area .btn_nav{
    display: block;
    width:35px;
    height:26px;
    border:0;
    background: url(../img/common/btn_nav.png) no-repeat center center;
    float: left;
    margin-top: 24px;
}

/* 장바구니버튼 */
.header .btn_cart{
    float: right;
    width:29px;
    height: 33px;
    border: 0;
    background: url(../img/common/btn_shopping.png) no-repeat center center;
    margin:23px 0 0 0 ;
    position: relative;
}
.header .btn_cart .bedge{
    display: block;
    width: 26px;
    height: 21px;
    line-height: 21px;
    text-align: center;
    background: #f70c0c;
    border:2px solid #fff;
    border-radius: 11px;
    color:#fff;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    bottom: -10;
    right:-13px;
}

/* 메인 헤더 스크롤 다운 */
.header.down{}
.header.down .logo a{}
.header.down .navi_area .btn_nav{}
.header.down .btn_cart{}

/* 네비상세 */
.header .navi_area .navi{
    display: none;
}
.header .navi_area .navi .btn_nav_close{}
.header .navi_area .navi .msg{}
.header .navi_area .navi .msg > a{}
.header .navi_area .navi .navi_list{}
.header .navi_area .navi .navi_list{}
.header .navi_area .navi .navi_list > li .depth_1{}
.header .navi_area .navi .navi_list > li .sub{}
.header .navi_area .navi .navi_list > li:hover .sub{}
.header .navi_area .navi .navi_list > li .sub > li .depth_2{}
.header .navi_area .navi .social_list{}
.header .navi_area .navi .social_list > li{}
.header .navi_area .navi .social_list > li .btn_social{}
.header .navi_area .navi .btn_login{}

/***** container *****/
.container{
    padding: 80px 0 150px;
}

/***** footer *****/
.footer{
    background: #333;
    color: #bbb;
}

/* 푸터 상단영역 */
.footer .top_area{
    height: 85px;
    border-bottom: 1px solid #515151; 
}
.footer .top_area .logo{
    float:left;
    display: block;
    width:192px;
    height: 26px;
    background: url(../img/common/img_footer_logo.png) no-repeat center center;
    margin-top: 31px;
}
.footer .top_area .list_list{
    float: right;
}
.footer .top_area .list_list > li{
    float: left;
    margin-left: 27px;
    
}
.footer .top_area .list_list > li > a{
    font-size: 16px;
    line-height: 85px;
}

/* 푸터 하단영역 */
.footer .bottom_area{
    padding: 25px 0 48px;
}
.footer .bottom_area .info_area{
    float:left;
    width:765px;
}
.footer .bottom_area .info_area .info_list{
    margin-bottom: 15px;
}
.footer .bottom_area .info_area .info_list > li{
    float: left;
    margin-right: 27px;
    line-height: 24px;
    font-weight: 300; 
}
.footer .bottom_area .info_area .txt_phone{
    clear: both;
    padding-top: 15px;
    font-size: 16px;
}
.footer .bottom_area .info_area .txt_phone:after{}
.footer .bottom_area .info_area .txt_phone > dt{
    float: left;
    color:#999; 
}
.footer .bottom_area .info_area .txt_phone > dd{
    float: left;
    color: #bbb;
    margin-left: 7px; 
}
.footer .bottom_area .info_area .txt_copy{
    clear: both;
    font-size: 14px;
    padding-top: 15px;
    font-weight: 300; 
}
.footer .bottom_area .social_area{
    float:right;
}
.footer .bottom_area .social_area li{
    float: left;
    margin-left: 36px;
}
.footer .bottom_area .social_area li .btn_social{
    display: block;
    width:19px;
    height:33px;
    background: url(../img/common/icon_ft_blog.png) no-repeat center center;
}
.footer .bottom_area .social_area li .btn_social.facebook{
    background-image: url(../img/common/icon_ft_fb.png);
}
.footer .bottom_area .social_area li .btn_social.instagram{
    background-image: url(../img/common/icon_ft_insta.png);
    width:33px;
}
.footer .bottom_area .social_area li .btn_social.youtube{
    background-image: url(../img/common/icon_ft_youtube.png);
    width:33px;
}